body {
    background-color: #7a90bf;
    font-family: 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: #b3804b;
}

h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color:#7a90bf;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 150px;
  float: left;
  padding: 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}


#nav .selected {
  font-weight: bold;
}

#main {
  width: 750px;
  float: right;

}

#student-group {
  margin: 20px;
  padding: 30px;
  background-color: #e1e5f0;
  color: black;
  text-align: left;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #bfbbb8;
  color: white;
  text-align: right;
}
.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}
.homework {
  font-weight: lighter;
  color: black;
  text-align: left;
}